body {
    margin: 0;
}

/* NAVBAR */
#navbar {
    background-color: #fb736f;
}

.nav-item{
    font-size: 1.15rem ;
}

.navbar-brand {
    font-size: 1.7rem;
}

.navbar a{
    color: white;
}

#searchSection {
    background-color: black;
}

#searchSection img {
    width: 100%;
    opacity: 0.2;
}

.tagline {
    color: white;
    font-size: 5.5rem;
    font-family: "Love Light", cursive;
    font-weight: 500;
    font-style: normal;
}

.tagAndSearch {
    position: absolute;
    top: 40%;
    left: 28%;
    right: 25%;
    justify-items: center;
}

.searchButton{
    margin-left: 30%;
    margin-right: 30%;
    background-color: #E24E42;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
}

.searchButton:hover{
    background-color: #9a2c22;
    color: black;
}

#searchByIngredient {
    margin-top: 20px;
   /* background-color: #fff;  Background color for the ingredient search form */
    padding: 20px;
    border-radius: 5px;
    color: black;
    font-size: large;
}

#searchByIngredient label,
#searchByDish label {
    font-size: 20px;
    margin-bottom: 15px;
    color: white; /* Text color */
    font-weight: bold;
    /* background-color:#9a2c22; */
    margin-left: 165px;
    font-size: 25px;

}

#searchByIngredient input[type="text"],
#searchByDish input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px;
    margin-bottom: 19px;
}

#searchByIngredient button[type="submit"],
#searchByDish button[type="submit"] {
    background-color: #E24E42; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 203px;
}

#searchByIngredient button[type="submit"]:hover,
#searchByDish button[type="submit"]:hover {
    background-color: #9a2c22; /* Button hover background color */
}

#searchByDish {
    margin-top: 20px;
   /* background-color: #fff;  Background color for the ingredient search form */
    padding: 20px;
    border-radius: 5px;
    color: black;
    font-size: large;
}

#searchByDish label,
#searchByDish label {
    font-size: 20px;
    margin-bottom: 15px;
    color: white; /* Text color */
    font-weight: bold;
    /* background-color:#9a2c22; */
    margin-left: 165px;
    font-size: 25px;
}

#searchByDish input[type="text"],
#searchByDish input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px;
    margin-bottom: 20px;
}

#searchByDish button[type="submit"],
#searchByDish button[type="submit"] {
    background-color: #E24E42; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

#searchByDish button[type="submit"]:hover,
#searchByDish button[type="submit"]:hover {
    background-color: #9a2c22; /* Button hover background color */
}


/*TESTIMONIAL SECTION */
.carousel-inner{
    width: 80%;
}

.carousel-item{
    margin: auto;
    padding-left: 18rem;
    border: 0;
}

#testimonial{
    background-color: #ff5757;
}

/*UPLOAD SECTION*/
#upload{
    background-color: black;
}

#upload img{
    width: 100%;
    opacity: 0.8;
}

.uploadDiv{
    position: absolute;
    left: 50%;
    right: 10%;
    bottom: -160%;
    align-items: center;
}

.uploadDiv p{
    color: white;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: auto;
}

.uploadbutton{
    margin-top: 3rem;
    border: 20px;
}

/*ABOUT SECTION*/
.icon-square{
    background-color: black;
}

#about{
    background-color: #ff5757;
}

#about h2,h3{
    color: white;
}

#about p{
    color: black;
    font-size: 1.4rem;
}

#about .col{
    padding-right: 1rem;
}

.col img{
    width: 2.5rem;
    height: 2.5rem;
}

/*FOOTER SECTION*/
#footer a,p{
    color: white;
    margin: 0;
}

#footer{
    background-color: rgb(41, 28, 28);
}



.card {
    background-color: rgb(240, 240, 240);
}

.main {
    height: auto;
}

.btn-add-food {
    width: 150px !important;
    padding: 10px;
    font-size: 15px;
}